#langs{
    position: relative;
    float: right;
}

#langs * {
    width: 64px;
    height: 32px;
    border: 2px solid rgb(244, 245, 236);
    color: rgb(244, 245, 236);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#langs *:hover {
    border-radius: 32px 16px 32px 16px / 0px 32px 0px 32px;
    text-shadow: 0px 0px 8px rgb(134, 134, 134);
}

#langs *:active {
    border: 2px dotted rgb(102, 102, 102);
    border-radius: 16px 32px 16px 32px / 32px 0px 32px 0px;
}

div#consoleCommands p:hover {
    color: rgb(172, 172, 172);
    text-shadow: 0px 0px 8px rgb(0, 0, 0);
}

div#consoleCommands p:active {
    color: rgb(196, 196, 196);
    text-shadow: 0px 0px 8px rgb(78, 90, 76);
}